@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

/* General setup */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #4a457c, #000000);
  margin: 0;
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
 0% { background-position: 0% 50%; }
 50% { background-position: 100% 50%; }
 100% { background-position: 0% 50%; }
  
 }


#tray {
  position: fixed;
  font: 'monospace';
  font-size: 1rem;
  font-weight: 400;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(21, 21, 21);
  color: rgb(255, 255, 255);
  display: flex; 
  flex-direction: row;
}

.tray-item {
  flex: 1 1 auto;
  border: 0px solid gray;
  padding: 15px;
  text-align: center;
}

#content {
  width: 200px;
  margin: 50px auto;
}

/* Slider container */
.slider {
  perspective: 1000px;
  width: 300px;
  height: 300px;
  position: relative;
}

/* Cube setup */
.cube {
  width: 125%;
  height: 125%;
  position: relative;
  transform-style: preserve-3d;
  animation: rotate 15s infinite linear;
}

.face {
  position: absolute;
  width: 300px;
  height: 300px;
  border: 2px solid #000000;
  border-radius: 10px;
  overflow: hidden;
}

.face img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* The animation of each cube face */
.front  { transform: translateZ(150px); }
.back   { transform: rotateY(180deg) translateZ(150px); }
.right  { transform: rotateY(90deg) translateZ(150px); }
.left   { transform: rotateY(-90deg) translateZ(150px); }
.top    { transform: rotateX(90deg) translateZ(150px); }
.bottom { transform: rotateX(-90deg) translateZ(150px); }


/* Animation */
@keyframes rotate {
  0%   { transform: rotateX(0deg) rotateY(0deg); }
  25%  { transform: rotateX(75deg) rotateY(90deg); }
  50%  { transform: rotateX(120deg) rotateY(180deg); }
  75%  { transform: rotateX(270deg) rotateY(270deg); }
  100% { transform: rotateX(360deg) rotateY(360deg); }
}

.title {
  position: absolute;
  font-family: '', sans-serif;
  font-size: 7rem;
  text-shadow: 10px 5px 7px rgba(94, 119, 173, 0.5);
  font-weight: 700;
  color: rgba(85, 81, 131, 0.9);
  text-transform: uppercase;
  line-height: 0.8;
  text-align: right;
  text-align: top;
  right: 118%;
  top: -95%;
  z-index: 1; /* Below cube */
}

/* Subtext on the right side */
.subtext {
  position: absolute;
  right: 140%;
  top: 95%;
  transform: translateY(-20%);
  color: #5a5375;
  text-shadow: 10px 5px 7px rgba(0, 0, 0, 0.5);
  font-family: 'Poppins', sans-serif;
  text-align: left;
  width: 370px;
  font-size: 1.5rem;
  line-height: 1.4;
  z-index: 3; /* Over cube if needed */
}

.carousel {
  margin: 100px auto;
  width: 95%;
  border: 3px solid white;
  display: flex;
  overflow-x: auto;
  gap: 1em;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.group {
  display: flex;
  width: max-content;
  align-items: top;
  justify-content: top;
  gap: 1em;
  animation: spin 25s infinite linear;
  padding-right: 0.3em;
}

.card {
  flex: 0 0 15rem;
  height: 15rem;
  padding: 11rem;
  background: rgb(22, 22, 22);
  font-size: 1rem;
  border-radius: .1em;
  text-align: center;
  align-content: center;
}

@keyframes spin {
  from {translate: 0;}
  to {translate: -100%;}
}