* { /* Global reset and font setting */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}


.slider-container { /* Container for the slider section */
    width: 100%;
    height: 100vh;
    background-image: url('assets/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-images { /* Slider images setup */
    display: flex;
    align-items: center;
    gap: 20px;
    animation: slider 1.5s ease-in-out infinite alternate;
}

@keyframes slider { /* Slider animation */

 to {transform: translateY(100px);}

}


.slider-images img{ /* Images inside the slider */
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 6px;
}
.slider-img { /* Individual slider image setup */
    width: 100px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    transition: 0.7s ease;
}

.slider-images .slider-img:first-child, .slider-images .slider-img:last-child{ /* First and last images */ /*These images are formatted into making a vertical outline so that the the 4th image is presented the easiest. */
    height: 480px;
}
.slider-images .slider-img:nth-child(2), .slider-images .slider-img:nth-child(6){ /* Second and fifth images */
    height: 480px;
}
.slider-images .slider-img:nth-child(3), .slider-images .slider-img:nth-child(4),.slider-images .slider-img:nth-child(5){ /* Middle images */
    height: 665px;
}

h1{ /* Title on each image */
    font-family: "Jost", sans-serif;
    font-size: 24px;
    text-align: left;
    text-transform: uppercase;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: rotate(270deg);
    transition: 0.7s ease;
}



.slider-img.active{ /* Active image styling */
    width: 666px !important;
    height: 650px !important;
}

.slider-img.active h1{ /* H1 title on active image */
    display: none;
}


.slider-img.active .details p, .slider-img.active .details h2{ /* Details on active image */
    display: block;
}

#tray { /* Navigation tray at the bottom */
  position: fixed;
  font: 'monospace';
  font-size: 1rem;
  font-weight: 400;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(21, 21, 21);
  color: rgb(255, 255, 255);
  display: flex; 
  flex-direction: row;
}

.tray-item { /* Tray item styling */
  flex: 1 1 auto;
  border: 0px solid gray;
  padding: 15px;
  text-align: center;
}